NEVER grow a DataFrame row-wise!

mistake associated with df.append is that users tend to forget append is not an in-place function, so the result must be assigned back. You also have to worry about the dtypes:

[https://stackoverflow.com/questions/13784192/creating-an-empty-pandas-dataframe-and-then-filling-it]

In [12]:
import numpy as np
import pandas as pd

#features = ['Hogwarts House']
df_class = ['Ravenclaw', 'Slytherin', 'Griffondor', 'Hufflepuff']
losses = pd.DataFrame(columns=df_class)
loss = [1200, 123, 65, 42, 5, 4]
house = 'Ravenclaw'
losses[house] = loss
losses

   Ravenclaw Slytherin Griffondor Hufflepuff
0       1200       NaN        NaN        NaN
1        123       NaN        NaN        NaN
2         65       NaN        NaN        NaN
3         42       NaN        NaN        NaN
4          5       NaN        NaN        NaN
5          4       NaN        NaN        NaN

In [13]:
weights = np.array([1, 2, 3, 4, 5, -1, -2, -3, -4, -5])
features = ['Astronomy', 'Herbology', 'Divination', 'Muggle Studies',
       'Ancient Runes', 'History of Magic', 'Transfiguration', 'Potions',
       'Charms', 'Flying']
model = pd.DataFrame(columns=df_class, index = features)
model[house] = weights
model
# model.to_csv('out.csv')

                  Ravenclaw Slytherin Griffondor Hufflepuff
Astronomy                 1       NaN        NaN        NaN
Herbology                 2       NaN        NaN        NaN
Divination                3       NaN        NaN        NaN
Muggle Studies            4       NaN        NaN        NaN
Ancient Runes             5       NaN        NaN        NaN
History of Magic         -1       NaN        NaN        NaN
Transfiguration          -2       NaN        NaN        NaN
Potions                  -3       NaN        NaN        NaN
Charms                   -4       NaN        NaN        NaN
Flying                   -5       NaN        NaN        NaN

Empty DataFrame of NaNs
 creating a DataFrame of NaNs, and all the caveats associated therewith.
 ### it creates a DataFrame of object columns, like the others. !!!!